body {
	background: #fff;
	color: ##fff;
	font-family: 'Denk One', sans-serif;
	margin: 0;
	padding: 0;
}
header {
	background: #986;
	color: #fff;
	border-bottom: 1px solid #000;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
section {
	margin: 5px;
	padding: 5px;
}
h1, h3, h4, h5, h6 {
	font-family: 'Denk One', sans-serif;
	color: #fff;
}
h1 {
	font-size: 3em;
	margin: 0;
	padding: 15px;
	text-align: center;
	text-shadow: 2px 2px 4px #f00;
}
h2 {
	color: #885522;
	margin: 5px;
	padding: 5px;
}
input {
	margin: 5px;
	padding: 5px;
}
button {
	background: #852;
	border-radius: 1px;
	color: #fff;
	min-height: 15px;
	min-width: 15px;
}
#addButton {
	margin: 5px;
	padding: 5px;
}
